.top {
    display: flex;
    justify-content: space-between;
}

.top h1 {
    color: #343434;
    font-size: 20px;
}

.top .i {
    width: 26px;
}

.top-buttom {
    display: flex;
}

.texts-1 {
    display: flex;
    align-items: center;
}

.text-1 {
    color: #181E4B;
    font-family: Volkhov;
    font-size: 31.622px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.text-2 {
    color: #DF6951;
    font-family: Poppins;
    font-size: 29.033px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.text-3 {
    color: #7D7D7D;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.text-4 {
    color: #5E6282;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.text-5 {
    color: var(--black, #000);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.text-6 {
    color: #DF6951;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.span-2 {
    color: var(--black, #000);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.text-7 {
    color: #181E4B;
    font-family: Volkhov;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 71.042px;
    /* 142.085% */
}

.text-8 {
    color: var(--black, #000);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}