.asosiy-div {
    padding: 20px;
    border: 1px solid forestgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.asosiy {
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 80%;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.img-1 img {
    width: 70%;
}

.imgs {
    display: flex;
}

.imgs img {
    margin: 5px;
}

.top h1 {
    color: #343434;
    font-size: 20px;
}

.top .i {
    width: 26px;
}

.top-buttom {
    display: flex;
}

.top-buttom-right,
.top-buttom-left {
    width: 50%;
}

.top-buttom-right {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top-buttom-right-message input {
    margin: 3px;
}

.top-buttom-right-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    width: 350px;
    height: 683px;
    flex-shrink: 0;
    background: #EDEDED;
}


.span-3 {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.span-4 {
    display: flex;
    align-items: center;
}

.texts-1 {
    display: flex;
    align-items: center;
}

.text-1 {
    margin-right: 20px;
    color: #181E4B;
    font-family: Volkhov;
    font-size: 31.622px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.text-2 {
    color: #DF6951;
    font-family: Poppins;
    font-size: 29.033px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.text-3 {
    color: #7D7D7D;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.texts-2 {
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: center;
}

.texts-3 {
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.texts-4 {
    margin-left: 30px;
}

.text-4 {
    margin-left: 20px;
    color: #5E6282;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.text-5 {
    margin-top: 30px;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.text-6 {
    color: #DF6951;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.span-2 {
    margin-left: 10px;
    color: var(--black, #000);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.spans-2 {
    display: flex;
    color: var(--black, #000);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

#spans-3,
#spans-2 {
    margin-top: 25px;
}

#spans-3 .span-2 {
    margin-left: 20px;
}

#spans-2 .span-2 {
    margin-left: 20px;
}

.texts-7 {
    margin-top: 70px;
}

.text-7 {
    color: #181E4B;
    font-family: Volkhov;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 71.042px;
    /* 142.085% */
}

.text-8 {
    color: var(--black, #000);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.text-9 {
    color: #181E4B;
    text-align: center;
    font-family: Volkhov;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-10 {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.button-1 {
    margin: 5px;
    width: 220px;
    display: inline-flex;
    padding: 16px 46.561px 15.416px 47px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #DF6951;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.3s ease;
    cursor: pointer;

}

.button-1:hover {
    background: white;
    color: #DF6951;
}

.top-buttom-right-message input {
    width: 259px;
    height: 50px;
}